X7A7XR_1019/SaxX7A7XR/src/SaxX7A7XR1019/szemelyekX7A7XR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
<element name="szemelyek">
		<complexType>
			<sequence>
				<element name="szemely" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="nev" type="string"/>
							<element name="kor" type="integer"/>
							<element name="varos" type="string"/>
						</sequence>
						<attribute name="id" type="string" use="required"/>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>